
// Fuentes //
$font: 'Lato', sans-serif;
$titles: bold;
$simpleText: normal;

//  Sombras //
$greenShadow: rgb(3, 199, 13);
$orangeShadow: rgb(255, 169, 8);
$blackShadow: rgb(0, 0, 0);
$blueShadow: rgb(0, 110, 255)